{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "func-names": 0,
    "global-require": 0,
    "class-methods-use-this": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "max-len": [
      "error",
      150
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}